<div class="container " id="maunen">
    <div class="row">
        <div class="col-3"></div>
            
        <div class="col-6" id="dangnhap">
                <br>
                <h1>Quên mật khẩu</h1>
                <hr>
              
             
            <form action="/action_page.php">
                <div class="form-group">
                        <label for="email">Nhập địa chỉ Email của bạn:</label>
                        <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn..." [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="check()"> <b> Gửi mã xác thực </b>    </button>
                <div class="form-group">
                    <label for="email">Nhập mã xác thực:</label>
                    <input type="text" class="form-control" id="email" >
                </div>
                <div class="form-group">
                    <label for="pwd">Mật khẩu mới :</label>
                    <input type="password" class="form-control" id="pwd" >
                </div>
                <div class="form-group">
                        <label for="pwd">Xác nhận lại mật khẩu:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                
                <button type="submit" class="btn btn-primary"> <b> hoàn tác  </b>    </button>
               
            </form>
            <br>
        </div>
    </div>
</div>