<br>
<div class="card bg-secondary text-white">
    <div class="card header  text-center bg-secondary">
        <h1>Môn học</h1>
    </div>
    <div class="card-body">
        <h4>Câu hỏi:</h4>
            <div class="jumbotron text-dark">
                <h1 class="display-4">đề bài ............</h1>
                <hr class="my-4">
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Option 1
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Option 2
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio" >Option 3
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio" >Option 3
                    </label>
                  </div>
                  <br>
                  <button class="btn btn-primary">Nộp bài</button>
            </div>
    </div>
</div>