<div class="container ">
<div class="jumbotron jumbotron ">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-6">
    <h1 >Liên hệ</h1>
    <h5>Bạn cần hỗ trợ?</h5>
    Hãy liên vệ với chúng tôi:
    <table>
      <tr>
        <td><img src="./assets/images/call.png"></td>
        
        <td> <b>Telephone: <br>          Hotline:</b> </td>
          <td>092.332.***3 <br>   01895618*** <span class="badge badge-secondary">free</span>
          </td>
      </tr>
    </table>
    <b>Email:</b> lienhe@onlinetraining.com
    <br>
    (Thời gian hỗ trợ từ 7h đến 22h)
      <br>
    </div>
  </div>

    </div>
  
</div>