<div  id="maunen">
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-8" >
            <h1>Đăng ký tài khoản</h1>
            <br>
            <table>
                <tr>
                    <td>Email: </td>
                    <td><input class="form-control" id="email" placeholder="Nhập email của bạn..."
                            [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" style="width:400px"></td>
                </tr>
                <br>
                <tr>
                    <td>Họ và tên: </td>
                    <td> <input type="text" class="form-control"  placeholder="Nhập họ và tên"
                            [(ngModel)]="user.fullname" [ngModelOptions]="{standalone: true}" style="width:400px"></td>
                </tr>
                <br>
                <tr>
                    <td>Ngày sinh: </td>
                    <td> <input type="date" class="form-control"  placeholder="Nhập ngày sinh"
                            [(ngModel)]="user.birthday" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                <br>
                <tr>
                    <td>Giới tính: </td>
                    <td> <input type="text" class="form-control" placeholder="Nhập giới tính"
                            [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                <br>
                <tr>
                    <td>Tên đăng nhập:</td>
                    <td colspan="2"><input type="text" class="form-control"  placeholder="Nhập tên đăng nhập"
                            [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                
                <br>
                <tr>
                    <td>Mật khẩu:</td>
                    <td colspan="2"><input type="password" class="form-control" placeholder="Nhập mật khẩu"
                        [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  ></td>
                </tr>
                <br>
                <tr>
                    <td>Nhập lại mật khẩu:</td>
                    <td colspan="2"><input type="password" class="form-control" id="email" placeholder="Nhập lại mật khẩu"
                            [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"></td>
                </tr>
            </table>

            <!-- <form action="/action_page.php">           
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn..."
                                [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="email">Họ và tên:</label>
                            <input type="text" class="form-control" id="email" placeholder="Nhập họ và tên"
                                [(ngModel)]="user.fullname" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="email">Tên đăng nhập:</label>
                            <input type="text" class="form-control" id="email" placeholder="Nhập tên đăng nhập"
                                [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật khẩu:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Xác nhận lại mật khẩu:</label>
                            <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Tôi đồng ý các <b>Quy định của Online
                                Training</b>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="submit()"> <b> Đăng ký </b> </button>
                </form> -->
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Tôi đồng ý các <b>Quy định của Online
                        Training</b>
                </label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="check()"> <b> Đăng ký </b> </button>
        </div>
        
    </div>
    <br>
</div>