<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Giới thiệu</h1>
    <span class="lead">Đây là website giúp học sinh, sinh viên tiếp cận và làm quen với những bài thi trắc nghiệm. Giúp học sinh dễ dàng củng cố và tiếp thu những kiến thức về chuyên ngành với cách học trực tuyến do các chuyên gia xây dựng lên:
        <br>
      <ol>
          <li>Lý thuyết cô đọng, dễ hiểu, dễ nhớ, tổng hợp phương pháp giải nhanh.</li>
          <li>Đánh giá phân tích kết quả và đề xuất giải pháp.</li>
          <li>Bài tập phong phú, có lời giải chi tiết, phương pháp giải nhanh.</li>
        </ol>
      <br>
        <span style="font-weight: bold">Online Training</span> được đầu tư bởi công ty cổ phần công nghệ giáo dục ...
        <br>
        Công ty đã có 5 năm kinh nghiệm làm giáo dục trực tuyến với sản phẩm Tuyensinh247.com
        <br>
        Vì vậy <span style="font-weight: bold">Online Training</span> là sản phẩm được tạo ra bởi đội ngũ giáo viên tâm
        huyết, nhiều kinh nghiệm và giàu sáng tạo bám sát với những nội dung mới nhất.
      </span>
      <br>  
      <br>
      <div class="row">
      <div class="col-4 "></div>
    <a class="btn btn-primary" [routerLink]="['/','Dangki']"><b>Đăng kí tài khoản ngay!</b></a>
    </div>
  </div>
</div>